#
# Local configuration for the Embedded Linux OTA Platform
#

# Enable Yocto build support
require conf/features/yocto.inc

# Enable Raspberry Pi support
require conf/features/raspberrypi.inc

# Enable Mender OTA support
require conf/features/mender.inc

# Enable Project Configuration
require conf/project.inc

# Configuration version
CONF_VERSION = "2"
