#
# Local configuration for the Yocto Raspberry Pi Mender Demo
#

# Enable Yocto build support
require conf/features/yocto.inc

# Enable Raspberry Pi support
require conf/features/raspberrypi.inc

# Enable Mender OTA support
require conf/features/mender.inc

# Enable Project Configuration
require project.inc

# Configuration version
CONF_VERSION = "2"
