# Default project configuration.
# Copied to build/conf/project.inc by scripts/setup-env when missing.
# scripts/build-image replaces this file for managed builds.

PROJECT_NAME ?= "embedded-linux-ota-platform"

MACHINE ?= "raspberrypi3-64"
YOCTO_IMAGE ?= "ota-platform-minimal-image"

PROJECT_MENDER_SERVER_URL ?= "https://docker.mender.io"
PROJECT_MENDER_SERVER_HOST_IP ?= "192.168.0.88"
PROJECT_MENDER_SERVER_CRT ?= "${TOPDIR}/../certificates/mender.crt"

IMAGE_RELEASE ?= "dev"
IMAGE_BUILD_ID ?= "manual"
MENDER_ARTIFACT_NAME ?= "${PROJECT_NAME}-${IMAGE_RELEASE}-${IMAGE_BUILD_ID}"
